{
  "extends": "airbnb-base",
  "rules": {
    "import/newline-after-import": "off",
    "object-curly-newline": "off",
    "no-shadow": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "log"
        ]
      }
    ],
    "quotes": [
      "error",
      "double"
    ]
  }
}